html,body{
    .box{
        width : 220px;
        height: 120px;
        background: url(../images/ab1.jpg);
        background-size: cover;
    }
    .box1{
        width : 220px;
        height: 120px;
        background: url(../images1/ab1.jpg);
        background-size: cover;
    }
}